<main class="container mx-auto">
  <.flash_group flash={@flash} />
  <div class="py-[3.4375rem] lg:py-[7.1875rem] grid grid-cols-4 gap-x-5 lg:grid-cols-12 lg:gap-x-10">
    <%= @inner_content %>
  </div>
</main>
