<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Cen" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-background">
    <div class="shadow-navbar relative z-10">
      <ul class="h-[82px] container mx-auto flex items-center justify-end gap-10">
        <li class="mr-auto">
          <.link href={~p"/"}>
            <img src={~p"/images/logo.svg"} height="30" />
          </.link>
        </li>
        <%= if @current_user do %>
          <li class="text-[20px] leading-6 text-zinc-900">
            <%= @current_user.email %>
          </li>
          <li>
            <.link
              href={~p"/users/settings/personal"}
              class="text-[20px] leading-6 text-zinc-900 hover:text-zinc-700"
            >
              Settings
            </.link>
          </li>
          <li>
            <.link
              href={~p"/users/log_out"}
              method="delete"
              class="text-[20px] leading-6 text-zinc-900 hover:text-zinc-700"
            >
              Log out
            </.link>
          </li>
        <% else %>
          <li>
            <.link href={~p"/users/register"} class="navbar-link">
              <%= dgettext("users", "Регистрация") %>
            </.link>
          </li>
          <li>
            <.link href={~p"/users/log_in"} class="navbar-link">
              <%= dgettext("users", "Вход") %>
            </.link>
          </li>
        <% end %>
      </ul>
    </div>
    <%= @inner_content %>
    <footer class="shadow-footer bg-[#F8F8F8] text-footergray">
      <div class="py-[40px] container mx-auto lg:py-[60px] lg:grid-cols-12">
        <div class=" grid grid-cols-1 gap-x-10 gap-y-10 ">
          <section class="flex flex-col justify-between gap-y-10 lg:col-span-7 lg:flex-row">
            <div>
              <p class="text-[17px] leading-[1.1] font-light">Поступление 2023&ndash;2024</p>
              <p class="mt-[14px] leading-[1.2] text-[12px]">г. Екатеринбург</p>
            </div>
            <div>
              <ul class="space-y-[14px]">
                <li><img class="w-[242px]" src="/images/culture-ekb-logo.png" /></li>
                <li>
                  <.link
                    class="link-hover"
                    target="_blank"
                    rel="noopener noreferrer"
                    href="https://культура.екатеринбург.рф/"
                  >
                    <.icon name="cen-globe" class="inline" /> Перейти на сайт
                  </.link>
                </li>
                <li>
                  <.icon name="cen-phone" class="inline" />
                  <.link class="link-hover" href="tel:+73433042420" target="_blank">
                    +7 (343) 304-24-20
                  </.link>
                </li>
              </ul>
            </div>
            <div>
              <ul class="flex">
                <li class="w-[40px]">
                  <.link href="https://vk.com/ekb_ton" target="_blank" rel="noopener noreferrer">
                    <.icon name="cen-vk" class="rounded-full  border border-accent" />
                  </.link>
                </li>
              </ul>
            </div>
          </section>
          <section class="space-y-[14px] lg:col-span-3 lg:col-start-10">
            <p>ГРЦ &ldquo;ТОН: творческий образовательный навигатор&rdquo;</p>
            <p>
              <.icon name="cen-message" class="inline" />
              <.link class="link-hover" href="mailto:ton.ekb@ya.ru" target="_blank">
                ton.ekb@ya.ru
              </.link>
            </p>
          </section>
        </div>
      </div>
    </footer>
  </body>
</html>
