<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Cen" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white">
    <div class="shadow-navbar relative z-10">
      <ul class="h-[82px] container mx-auto flex items-center justify-end gap-10">
        <li class="mr-auto">
          <.link href={~p"/"}>
            <img src={~p"/images/logo.svg"} height="30" />
          </.link>
        </li>
        <%= if @current_user do %>
          <li class="text-[20px] leading-6 text-zinc-900">
            <%= @current_user.email %>
          </li>
          <li>
            <.link
              href={~p"/users/settings"}
              class="text-[20px] leading-6 text-zinc-900 hover:text-zinc-700"
            >
              Settings
            </.link>
          </li>
          <li>
            <.link
              href={~p"/users/log_out"}
              method="delete"
              class="text-[20px] leading-6 text-zinc-900 hover:text-zinc-700"
            >
              Log out
            </.link>
          </li>
        <% else %>
          <li>
            <.link
              href={~p"/users/register"}
              class="text-[20px] leading-6 text-zinc-900 hover:text-zinc-700"
            >
              <%= dgettext("users", "Register") %>
            </.link>
          </li>
          <li>
            <.link
              href={~p"/users/log_in"}
              class="text-[20px] leading-6 text-zinc-900 hover:text-zinc-700"
            >
              <%= dgettext("users", "Log in") %>
            </.link>
          </li>
        <% end %>
      </ul>
    </div>
    <%= @inner_content %>
  </body>
</html>
